@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
};
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #001931;
  --color-secondary: #632EE3;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a.active {
  color: #9F62F2;
  font-weight: bold;
}