@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
};
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #001931;
  --color-secondary: #632EE3;
  --color-accent: #E9E9E9;
  --color-info: #A1A1AA;
  --color-warning: #FAFAFA;
  --color-neutral: #627382;
  --color-base-100: #F5F5F5;
  --color-success: #4CAF50;
  --color-error: #FF3D00;
}

/* 4CAF50 */

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html, body {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

a.active {
  color: #9F62F2;
  font-weight: bold;
}